<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Apple Watch Tutorial Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Apple Watch Tutorial.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>64A7674A1E5FA76700E085EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A767631E5FA76800E085EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A7676E1E5FA76800E085EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>64A767821E5FA8E400E085EA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
